{% extends 'base.html' %}
{% block title %}
Expense Category
{% endblock title %}
{% block content %}
<header>
    <nav>
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Main Page</a>
            <a href="{% url 'category_list' %}">Expense Categories</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_receipt' %}">Create A Receipt</a>
            <a href="{% url 'create_category' %}">Create Expense Category</a>
            <a href="{% url 'create_account' %}">Create An Account</a>
            {% endif %}
        </li>
    </nav>
</header>
<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</main>
{% endblock content %}
