{% extends 'base.html' %}
{% block title %}
Create An Account
{% endblock title %}
{% block content %}
<header>
    <nav>
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Main Page</a>
            <a href="{% url 'category_list' %}">Expense Categories</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_receipt' %}">Create A Receipt</a>
            <a href="{% url 'create_category' %}">Create Expense Category</a>
            <a href="{% url 'create_account' %}">Create An Account</a>
            {% endif %}
        </li>
    </nav>
</header>
<main>
    <div>
        <h1>Create Account</h1>
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
