{% extends 'base.html' %}
{% block title %}
Receipts
{% endblock title %}
{% block content %}
<header>
    <nav>
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Main Page</a>
            <a href="{% url 'category_list' %}">Expense Categories</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_receipt' %}">Create A Receipt</a>
            <a href="{% url 'create_category' %}">Create Expense Category</a>
            <a href="{% url 'create_account' %}">Create An Account</a>
            {% endif %}
        </li>
    </nav>
</header>
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>{{receipt.vendor}}</td>
                <td>{{receipt.total}}</td>
                <td>{{receipt.tax}}</td>
                <td>{{receipt.date|date:"m/d/y"}}</td>
                <td>{{receipt.category.name}}</td>
                <td>{{receipt.account.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</main>
{% endblock content %}
